:root{
    --red:#81171B;
    --black:#070707;
    --white:#F3EAF4;
    --grey:#857F74;
}

@media only screen and (max-width: 768px){
    .ouvrir{display: block; font-size: 24px; color: var(--black);}
    .fermer{font-size: 24px; color: var(--black);}
    #menu{position:absolute;left:calc(50% - 150px);top:200px;display: flex;flex-direction: column;width:300px;text-align: center;top:0;}
    #top:target #menu{transform:translateY(20px);transition:all .5s;}
    #top:target .ouvrir {display:none;}
    #top:not(:target) #menu {transform:translateY(-50vh);transition:all .5s;}
    #top:target .fermer {display:block;}}
    

 